<%= render 'pages/home' %>

<% if user_signed_in? %>
<div class="david_unit_bg">
	<h3 class="h_nice" style="margin:0px auto;text-align:center;">M a i n</h3>
</div>
<div id="pins">
  <%= render @pins %>
</div>
<% end %>