<div id="myCarousel" class="carousel slide carousel-fade" style="width: 650px; margin: 0px auto 0px">
    <div class="carousel-inner"> <!-- start inner carousel contents -->
        <div class="item active"> <!-- item active so carousel auto starts -->
            <div class="item carouselImg">
                <img src="images/cl2ne1.jpg" alt="">
                <div class="container">
                    <div class="carousel-caption">
                        <h1 class="h_yellow">Lee Chaelin</h1>
                        <p class="lead">2ne1's CL. Seoul city's baddest bi*ch.</p><br>
                    </div>
                </div>
            </div>
        </div> <!-- end first carousel screen -->
        <div class="item carouselImg"> <!-- next carousel screen start -->
            <img src="images/2ne1acoustic.jpg" alt="">
            <div class="container">
                <div class="carousel-caption">
                    <h1 class="h_yellow">Acoustic takeover</h1>
                    <p class="lead">Jung Sungha collaborates with several major artists</p><br>
                </div>
            </div>
        </div> <!-- end carousel screen -->
        <div class="item carouselImg"> <!-- next carousel screen start -->
            <img src="images/bigbangbluemv.jpg" alt="">
            <div class="container">
                <div class="carousel-caption">
                    <h1 class="h_yellow">Blue - #1 on YouTube in one day</h1>
                    <p class="lead">Big Bang's 5th album debut single attracts millions of viewers in one day</p><br>
                </div>
            </div>
        </div> <!-- end carousel screen -->
        <div class="item carouselImg">
            <img src="images/bom_iloveu.jpg" alt="">
            <div class="container">
                <div class="carousel-caption">
                    <h1 class="h_yellow">Park Bom</h1>
                    <p class="lead">2ne1's lead vocalist sets the bar</p><br>
                </div>
            </div>
        </div>
        <div class="item carouselImg">
            <img src="images/tokyocitynight.jpg" alt="">
            <div class="container">
                <div class="carousel-caption">
                    <h1 class="h_yellow">Travel Tokyo</h1>
                    <p class="lead">With its many diverse districts, Tokyo attracts visitors daily</p><br>
                </div>
            </div>
        </div>
        <div class="item carouselImg">
            <img src="images/carnightdrift.jpg" alt="">
            <div class="container">
                <div class="carousel-caption">
                    <h1 class="h_yellow">Getting Sideways</h1>
                    <p class="lead">Car culture takes a sideways turn</p><br>
                </div>
            </div>
        </div>
        <div class="item carouselImg">
            <img src="images/japangundam.jpg" alt="">
            <div class="container">
                <div class="carousel-caption">
                    <h1 class="h_yellow">Japan has 60ft tall Gundam</h1>
                    <p class="lead">Life sized toy or secret ploy?</p><br>
                </div>
            </div>
        </div>
    </div> <!-- end carousel inner -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a> <!-- left control for carousel -->
    <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a> <!-- right control for carousel -->
</div><!-- end my carousel -->