<!-- <div id="myCarousel" class="carousel slide carousel-fade" style="width: 650px; margin: 0px auto 0px"> -->
<div id="myCarousel" class="carousel slide" style="width: 650px; margin: 0px auto 0px">
    <div class="carousel-inner" style="background-color: black;"> <!-- start inner carousel contents -->
        <div class="item active carouselImg"> <!-- item active so carousel auto starts -->
                <img src="images/batmansuperman.jpg" alt="">
                <div class="container">
                    <div class="carousel-caption">
                        <h1 class="h_yellow">Comic Books!</h1>
                        <p class="lead">#Batman #Superman #MARVEL #superheroes #DC</p><br>
                    </div>
                </div>
        </div> <!-- end first carousel screen -->
          <div class="item carouselImg"> <!-- next carousel screen start -->
            <img src="images/cl2ne1.jpg" alt="">
            <div class="container">
                <div class="carousel-caption">
                    <h1 class="h_yellow">Lee Chaelin</h1>
                    <p class="lead">#2ne1 #CL #Kpop #YG</p><br>
                </div>
            </div>
        </div> <!-- end carousel screen -->
        <div class="item carouselImg"> <!-- next carousel screen start -->
            <img src="images/marvel-heroes.jpg" alt="">
            <div class="container">
                <div class="carousel-caption">
                    <h1 class="h_yellow">Marvel!</h1>
                    <p class="lead">#MARVEL #superheroes #spiderman</p><br>
                </div>
            </div>
        </div> <!-- end carousel screen -->
        <div class="item carouselImg"> <!-- next carousel screen start -->
            <img src="images/bigbangbluemv.jpg" alt="">
            <div class="container">
                <div class="carousel-caption">
                    <h1 class="h_yellow">Big Bang</h1>
                    <p class="lead">#BIGBANG #YG #Kpop</p><br>
                </div>
            </div>
        </div> <!-- end carousel screen -->
        <div class="item carouselImg">
            <img src="images/music.jpg" alt="">
            <div class="container">
                <div class="carousel-caption">
                    <h1 class="h_yellow">No Music No Life</h1>
                    <p class="lead">#music #musicismylife</p><br>
                </div>
            </div>
        </div>
        <div class="item carouselImg">
            <img src="images/tokyocitynight.jpg" alt="">
            <div class="container">
                <div class="carousel-caption">
                    <h1 class="h_yellow">Tokyo</h1>
                    <p class="lead">#JAPAN #TOKYO #asia #nightlife</p><br>
                </div>
            </div>
        </div>
        <div class="item carouselImg">
            <img src="images/carnightdrift.jpg" alt="">
            <div class="container">
                <div class="carousel-caption">
                    <h1 class="h_yellow">Getting Sideways</h1>
                    <p class="lead">#DRIFT #cars #sideways</p><br>
                </div>
            </div>
        </div>
        <div class="item carouselImg">
            <img src="images/japangundam.jpg" alt="">
            <div class="container">
                <div class="carousel-caption">
                    <h1 class="h_yellow">Japan has 60ft tall Gundam</h1>
                    <p class="lead">#gundam #tokyo #giantrobot</p><br>
                </div>
            </div>
        </div>
    </div> <!-- end carousel inner -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a> <!-- left control for carousel -->
    <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a> <!-- right control for carousel -->
</div><!-- end my carousel -->