<div class="span5">
	<img class="about_img" src="images/bomyouandi.jpg" alt="bom park"/>
	<div class="david_unit">
	<h1>About Us</h1>
	<p>	Pin Ninja is a site where people can come together to share pictures or 'pins'. <br>
		Pin for me, pin for you. Pins for me, pins for you.</p>
	</div>
</div>
<div class="clear"></div>