
/*You can use this to import fonts */
/*
$baseFontFamily: poiret+one;
@import url(http://fonts.googleapis.com/css?family=Poiret+One); */

$btninfoBackground: green;
$navbarBackgroundHighlight: white;
$navbarBackground: white;

@import 'bootstrap';
@import 'flat-ui';

a {
	text-decoration: none;
}

body {
	padding-top: 60px;
	/*background-color: #2c3e50;*/
}

@import 'bootstrap-responsive';

.brand_david {
	color: #ffffff;
	display: block;
	float: left;
	padding: 10px 20px 10px;
	margin-left: -20px;
	font-size: 20px;
	font-weight: bold;
}

.brand_david:hover {
	text-decoration:none;
	color: red;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.clear {
	clear: both;
}

.david_bar {
	margin-top: -9px;
	background-color: black;
	left: 0;
	right: 0;
	position: absolute;
}

.david_blue {
  color: #00248F;
}

.david_caption {
	font-size: 1.25em;
	padding: 15px;
	background-color: #627383;
	border-radius: 2px;
	color: #a1bcd7;
	height: 155px;
}

.david_header {
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 2px 0 black, 0 -1px black;
	background-color: #D6EBFF;
	padding: 15px;
	border-radius: 3px;
	margin: 10px;
	border: solid 4px #BBD2E3;
}

.david_left {
	float: left;
	width: 650px;
	display: inline-block;
	margin: 5px 5px 5px 5px;
}

.david_right {
	width: 400px;
	display: inline-block;
	margin: 5px 5px 5px 5px;
}

.david_unit {
  padding: 30px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  color: inherit;
  overflow: auto;
  background-color: #7492af;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

.david_unit h1 {
  margin-bottom: 0;
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.david_unit li {
  line-height: 30px;
}

.david_unit_bg {
	border-radius: 3px;
	height: 70px;
	opacity: 0.9;
	/*background-color: #AECBDE; /* default #eeeeee */
	background-image: url("/images/bigbangbluetaeyang.jpg"); /*added bg image*/
	background-repeat: no-repeat; /*add bg style*/
	background-size:cover; /*add bg style to cover image size*/
	background-position: 80% 15%;
}

.error_box {
	padding: 5px 5px 5px 5px;
	border-radius: 3px;
	margin: 3px;
	background-color: #FCD8D8;
	color: #E60000;
	border: solid 1px #E83933;
}

.form-actions {
	background-color: #8499af;
}

.form_blue {
	background-color: #D6EBFF;
	padding: 15px;
	border-radius: 3px;
	border: solid 4px #257AB7;
}

.navbar-inner {
	@include box-shadow(none !important);
	border: 0;
}

.about_img {
    margin-bottom: 10px;
    width: 500px;
    border-radius: 3px;
}

.footer {
	margin-top: 50px;
	color: $grayLight;
	a {
		color: $gray;
	}
}

.h_nice {
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 2px 0 black, 0 -1px black;
	margin: 10px auto;
}

.h_yellow {
	color: yellow;
	margin: 2px;
}

.navbar .nav > li > a {
	color: #257AB7;	
}

.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  color: red;
  text-decoration: none;
  background-color: transparent;
}

.submit_button {
	border-radius: 2px;
}

/* Required for jQuery Masonry */

.box {
	background: linear-gradient(#ffffff, #E2F1FF);
	margin: 5px;
	padding: 5px;
	font-size: 11px;
	line-height: 1.4em;
	float: left;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 2px;
	box-shadow: 1px 1px 10px #444;
	width: 214px;

}

.box img {
	display: block;
	width: 100%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 1px;

}

.description {
	margin: 10px 0 5px;
}

/*added this for carousel fade*/

.carouselImg img{
  width: auto;
  height: 450px;
  max-height: 450px;
  margin: 0 auto;
  background-color: #FFFFFF;
}

.carousel-caption h1, p {
	/*border: solid 1px red;*/
	margin-left: 27px;
}
.carousel.carousel-fade .item {
  -webkit-transition: opacity 2s ease-in-out;
  -moz-transition: opacity 2s ease-in-out;
  -ms-transition: opacity 2s ease-in-out;
  -o-transition: opacity 2s ease-in-out;
  transition: opacity 2s ease-in-out;
}

.carousel.carousel-fade .active.left,
.carousel.carousel-fade .active.right {
  left: 0;
  z-index: 2;
  opacity: 0;
  filter: alpha(opacity=0);
}

.carousel.carousel-fade .next,
.carousel.carousel-fade .prev {
  left: 0;
  z-index: 1;
}

.carousel.carousel-fade .carousel-control {
  z-index: 3;
}